// Ресурсы HTML
HTML_INDEX         RCDATA  "..\\resources\\index.html"
HTML_AK47          RCDATA  "..\\resources\\weapons\\ak47.html"
HTML_M4A1          RCDATA  "..\\resources\\weapons\\m4a1.html"
HTML_CLASSIC_LIMON RCDATA  "..\\resources\\limons\\classic.html"
HTML_PREMIUM_LIMON RCDATA  "..\\resources\\limons\\premium.html"

// Ресурсы PNG иконок
PNG_AK47           RCDATA  "..\\resources\\icons\\ak47.png"
PNG_M4A1           RCDATA  "..\\resources\\icons\\m4a1.png"
PNG_KNIFE          RCDATA  "..\\resources\\icons\\knife.png"
PNG_DEAGLE         RCDATA  "..\\resources\\icons\\deagle.png"
PNG_AWP            RCDATA  "..\\resources\\icons\\awp.png"
PNG_GLOCK          RCDATA  "..\\resources\\icons\\glock.png"
